* {
  box-sizing: border-box;
}

h1,
main {
  text-align: center;
}

#note {
  font-style: italic;
}

#grid-container {
  width: 600px;
  height: 600px;
  margin: 1.5em auto;
  display: flex;
  flex-wrap: wrap;
}

.inner-box {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
